:root{
    --mainColor: #121212;
    --secondaryColor:#121212;

    --borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder: #FFF;
	--previewBg:rgb(25, 39, 52, 0.8);

	--previewShadow: #121212;

	--buttonColor: #17A2B8;
}